{% extends 'mobileLayout.html' %}

{% block content %}
    <div>
        <input id="chooseImg" type="button" value="选择图片"/>
    </div>
    <script>
        $(function(){
            $('#chooseImg').click(function(){
                wx.chooseImage({
                    count: 1,
                    sizeType: ['original', 'compressed'],
                    sourceType: ['album', 'camera'],
                    success: function (res) {
                        var localIds = res.localIds;
                    }
                });
            })
        })
    </script>
{% endblock %}