{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <style type="text/css">
        .leftlist{list-style-type: none;text-align: center;font-size: 1.3em}
        .ul{list-style-type: none ; text-align: center; padding: 0}
    </style>
    <script type="text/javascript">
        $(function(){
            $.get('/api/activity/load?type=flmh', function(data){
                data.forEach(function(item){
                    $('#list').append($('<li> <strong class="col-md-2">' + item.name +'</strong> <strong class="col-md-2">' + formatDate(item.startTime) + '</strong> <strong class="col-md-2">' + formatDate(item.endTime) + '</strong> <strong class="col-md-6">' + window.__app.settings.app.url + '/activity?id=' + item._id + '</strong> </li>'));
                });
            });

            $('#add').click(function(){
                $('#luckyMoneyHelpList').hide();
                $('#addForm').show();
            });

            $('#submit').click(function(){
                var json = {
                    type:  $('#activityType').val()
                    ,name: $('#activityName').val()
                    ,base_lucky_money: $('#base_lucky_money').val()
                    ,friend_help_count_limit: $('#friend_help_count_limit').val()
                    ,startTime: $('#startTime').val()
                    ,endTime: $('#endTime').val()
                    ,friend_help_min_money: $('#friend_help_min_money').val()
                    ,friend_help_max_money: $('#friend_help_max_money').val()
                    ,rule: $('#rule').val()
                    ,desc: $('#desc').val()
                }

                $.post('/api/activity/add', json, function(data){
                    if(data){
                        $('#list').append($('<li> <strong class="col-md-2">' + data.name +'</strong> <strong class="col-md-2">' + formatDate(data.startTime) + '</strong> <strong class="col-md-2">' + formatDate(data.endTime) + '</strong> <strong class="col-md-6">' + window.__app.settings.app.url + '/activity?id=' + data._id + '</strong> </li>'));
                        $('#addForm').hide();
                        $('#luckyMoneyHelpList').show();
                    }
                })
            })
        })
        function formatDate(date){
            var dateTime = new Date(date);
            var year = dateTime.getFullYear();
            var month = dateTime.getMonth() + 1;
            var day = dateTime.getDate();
            return year + '-' + month + '-' + day;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-3 col-xs-3 col-sm-3">
                <div class="well sidebar-nav" style="height: 38em">
                    <ul class="nav nav-list" style="margin-top: 1em">
                        <li class="leftlist" style="background: #e7e7e7"><a >红包助力</a></li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="jumbotron" style="height: auto; padding: 25px;">
                    <a id="add" style="font-size: 1.5em">新增</a>
                    <div id="luckyMoneyHelpList" class="panel" style="margin-top: 1em; padding: 0; min-height: 30em">
                        <ul class="ul" id="list">
                            <li>
                                <strong class="col-md-2">活动名称</strong>
                                <strong class="col-md-2">开始时间</strong>
                                <strong class="col-md-2">结束时间</strong>
                                <strong class="col-md-6">活动链接</strong>
                            </li>

                            <li>  <hr width="100%" >  </li>

                        </ul>
                    </div>
                    <div id="addForm" class="panel" style="margin-top: 1em; display: none">
                        <ul class="ul" style="text-align: left; padding-left: 2em">
                            <li><span>红包助力活动设置</span></li>
                            <li><span>活动名称:  </span><input id="activityName" type="text"/></li>
                            <li><span>活动时间:  </span><input id="startTime" type="date"/><span> 至 </span><input id="endTime" type="date"/></li>
                            <li><span>活动介绍:  </span><textarea id="desc" cols="60" rows="5"></textarea></li>
                            <li><span>活动规则:  </span><textarea id="rule" cols="60" rows="5"></textarea></li>
                            <li><span>基础红包金额:  </span><input id="base_lucky_money" type="text"/></li>
                            <li><span>好友助力单次奖励:  </span><input id="friend_help_min_money" type="text"/><span> 至 </span><input id="friend_help_max_money" type="text"/></li>
                            <li><span>好友助力上限人数:  </span><input id="friend_help_count_limit" type="text"/></li>
                            <li style="text-align: center; margin-top: 1em"><input class="btn btn-success" type="button" id="submit" value="提交"/></li>
                            <input type="hidden" id="activityType" value="flmh"/>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->


    </div>
{% endblock %}