<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}跟谁学{% endblock %}</title>

    {% block head %}
    <link href="../../components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../components/summernote/dist/summernote.css" rel="stylesheet">

    <script src="../../components/jquery/jquery.min.js"></script>
    <script src="../../components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../components/summernote/dist/summernote.min.js"></script>

    <script type="text/javascript">
        window.__app = {{ JSON.stringify(__app) }};
        window.__page = {{ JSON.stringify(__page) }};
        window.prdOrNot =( __app.settings.env.NODE_ENV === "production" );
    </script>
    {% endblock %}
    <style type="text/css">
        .navbtn{padding-left: 3em}
        .active{color: #ffffff !important;}
    </style>
    <script>
        $(function(){
            $('#logout').click(function(){
                $.get('/logout', function(data){
                    window.location.href = '/login';
                });
            })
            $('#activity').click(function(){
                window.location.href = '/activity/manage';
            })
        })
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" style="font-size: 2em;color: white">微信营销</a>
        <ul class="nav navbar-nav" style="width: 85%">
            <li class="navbtn"><a id="activity" class="active" style="font-size: 1.5em; cursor: pointer">活动</a></li>
            <li  style="float: right; margin-left:5em"><a href="#" style="font-size: 1.4em" id="logout">退出</a></li>
        </ul>
    </div>
</nav>
    {% block content %}{% endblock %}
</body>
</html>