<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>voice</title>
    <script src="../../components/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        window.__app = {{ JSON.stringify(__app) }};
        window.__page = {{ JSON.stringify(__page) }};
        window.prdOrNot =( __app.settings.env.NODE_ENV === "production" );
    </script>
    <script src="../../js/jssdk.js"></script>
    <script>
        wx.config(window.__page.jc);
        wx.ready(function(){
            console.log('ready');
            wx.onVoiceRecordEnd({
                // 录音时间超过一分钟没有停止的时候会执行 complete 回调
                complete: function (res) {
                    console.error('end');
                    var localId = res.localId;
                }
            });
            wx.onVoicePlayEnd({
                success: function (res) {
                    var localId = res.localId; // 返回音频的本地ID
                }
            });
        })
        wx.error(function(res){
            console.error(res);
        });
    </script>
    <script>
        var voice = {
            localId: '',
            serverId: ''
        };
        $(function(){
            var recordGap;
            var obj = document.getElementById('record');
            obj.addEventListener('touchstart', function(e){
                $('#dis').append($('<span>down</span>'));
                recordGap = setTimeout(function(){
                    wx.startRecord();
                    $('#dis').append($('<span>out</span>'));
                    e.preventDefault();
                }, 1000);
            }, false);
            obj.addEventListener('touchend', function(e){
                clearTimeout(recordGap);
                $('#dis').append($('<span>up</span>'));
                wx.stopRecord({
                    success: function (res) {
                        var localId = res.localId;
                        console.error('localId:' + localId);
                        voice.localId = localId;
                        $('#voiceList').append($('<button class="btn" onclick="playVoice()" localId="' + localId + '">音频</button>'))
                    }
                });
            }, false);
//           $('#record').on('touchstart', function(e){
//               e.preventDefault();
//               recordGap = setTimeout(function(){
//                   console.error('down');
//                   wx.startRecord();
//               }, 1000);
//           }).on('touchend', function(e){
//               e.preventDefault();
//               clearTimeout(recordGap);
//               console.error('up');
//               wx.stopRecord({
//                   success: function (res) {
//                       var localId = res.localId;
//                       console.error('localId:' + localId);
//                       voice.localId = localId;
//                       $('#voiceList').append($('<button class="btn" onclick="playVoice()" localId="' + localId + '">音频</button>'))
//                   }
//               });
//           });
        });
        var playVoice = function(){
            wx.playVoice({
                localId: voice.localId
            })
        }
    </script>
    <style type="text/css">
        .btn {
            width: 100%;
            margin-top: 5px;
            height: 60px;
            font-size: 40px;
        }
        .recordBtn {
            height: 180px;
            line-height: 180px;
            margin-bottom: 10px;
            background-color: #4E9197;
            text-align: center;
            font-size: 3em;
            -webkit-user-select: none;
            box-shadow: 0 2px 5px #aaa;
            border-radius: 5px;
            margin-top: 250px;
        }
    </style>
</head>
<body>
<div id="voiceList">

</div>
<div id="record" class="recordBtn">录音</div>
<div id="dis"></div>

</body>
</html>